nb-configuration.xml
oncotator/src/main/resources/db.properties
logs
importer/nbactions.xml
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$
.DS_Store
.idea/
^cgds/nbproject$
cBioPortal.ipr
cBioPortal.iws
cbio-cancer-genomics-portal.iml
my-properties-files/
cron-job-properties-files/
cbio-cancer-genomics-portal.ipr
cbio-cancer-genomics-portal.iws
src/main/resources/importer.properties
src/main/resources/log4j.properties
src/main/resources/logging.properties
firehose-importer/reference_data/gene_info
portal.properties
log4j.properties
build.properties
# use glob syntax
syntax: glob
importer/*.log
firehose-importer/*.txt
portal/target/*
liftover/target/*
core/target/*
annotator/target/*
oncotator/target/*
importer/target/*
business/target/*
web/target/*
mutation-assessor/target/*
cbioportal-client/target/*
mondrian-cy3-app/target/*
nbactions.xml
*/*.iml
*.iml
*.class
*/.settings/*
*/.classpath
*/.project
